using System;

namespace EndfieldHeadhunter.BOT
{
    public static class BotSecrets
    {
        public static Int64 BOT_ID = 2929292768289328984;
        public static string APPLICATION_ID = "93c38c3mm93m4vn74vc09c28c4omt73tywvi3nv7";
        public static string BOT_TOKEN = "MTin4in4vnv4novav.437w85mvwom.xMvp-`0n_r54a";
    }
}